<h1>Add post</h1>

<div class="container-lg">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Blog Title</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Title">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"> Blog your thoughts! </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Blog"></textarea>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="summit"> BLOG IT! </button>
    </div>
</div>